<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
</head>
<body>
	<div id="app">
      <h2> {{ message }}</h2>

      <input type="text" v-model="newTodoText" @keyup.enter="addTodo">
      <input type="number" v-model.number="newTodoQuantity" @keyup.enter="addTodo">
      <button @click="addTodo">Add new ToDo</button>

     <ul>
	    <li v-for="todo in todos">
         <input type="number" v-model.number="todo.quantity">
         <button @click="todo.quantity++">+</button>
           <button @click="todo.quantity > 0 ? todo.quantity-- : 0">-</button>
	      {{ todo.text }} - 
         <span v-if= "todo.quantity > 0 ">{{ todo.quantity }}</span>
         <span v-if= "todo.quantity === 0 ">Anything jet!</span>
	    </li>
	  </ul>

     <h4> Total activities to do: {{ sumTodo }}</h4>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="scripts.js"></script>
</body>
</html>